<h1>Posts</h1>
<!-- <p>Find me in app/views/posts/show.html.erb</p> -->

Title: <%= @post.title %>
Content: <%= @post.post_text %>

<hr>

<% @post.comments.each do |c| %>
<hr>
<%= c.user.email %> said: <br>
<%= c.comment_text %>

<% end %>

<hr>

<!-- This is like having comments#new right here inside of posts#show -->

<%= form_for @comment do |f| %>
	<%= f.text_field :comment_text %> <br>
	<%= f.hidden_field :post_id, @post.id %> 
	<%= f.submit %>
<% end %> 

